/* menu & travel page - WENXI */
#no-scroll {
    overflow: hidden;
}

/* travel page skip to main button */
.travel-skip {
    position: fixed;
    top: 10px;
    right: 16px;
    background-color: #fff;
    order: 1px solid #000;
    padding: 8px 15px;
    z-index: 999;
    color: #000;
    text-decoration: none;
    opacity: 0;
}
.travel-skip:focus {
    opacity: 1;
}
/* font setting */
.font {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 3;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* "The ultimate Guide to LA" */
.cover-text {
    font-size: 75px;
    position: absolute;
    top: 110px;
    left: 60px;
    color: white;
    line-height: 1;
}

/* .cover-text {
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 120px;
    top: 40px;
    text-align: center;
} */

.large-initial {
    font-size: 110px;
    font-weight: 40%;
    color: white;
}

/* car photo */
.cover-photo {
    object-fit: cover;
    object-position: 0px -140px;
}


.menu-container {
    display: grid;
    grid-template-columns: auto 40%;
    width: 100vw;
    height: 100vh;
    background-color: #312202;
}


/* .nav-mainmenu {
    margin-top: 200px;
    margin-left: 40px;
    font-size: 45px;
    color: black;
} */

.hidden {
    display: none;
}

.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none; /* Remove underline from links */
    color: #EDF7B5; /* Set text color */
    background-color:#6D8C18; /* Optional: background color */
    border: none; /* Optional: no border */
    border-radius: 25px;
    cursor: pointer;
    z-index: 1000;
}

.nav-mainmenu {
    margin-top: 100px;
    margin-left: 40px;
    font-size: 45px;
    color: black;
    text-align: center;
}

.nav-mainmenu li a {
    text-decoration: none;
    color: white;
}

.nav-mainmenu li a:hover {
    text-decoration: underline;
    color: #EDF7B5;
}

.nav-intro {
    margin-top: 80px;
    margin-right: 30px;
    font-size: 18px;
    font-style: italic;
    color: white;
    line-height: 25px;
}

/* travel page header "Travel" */
.travel-header {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 200px;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* .travel-header-pic {
    justify-content: center;
    width: 50%;
    height: 50%;
} */


.travel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.location-grid {
    line-height: 25px;
    margin-bottom: 100px;
}

.location-photos {
    object-fit: cover;
    width:  450px;
    height: 600px;
    margin-bottom: 10px;
}





/* restaurant page - SHERRIE */
.restaurant_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 20px;
    row-gap: 20px;

}


