/* menu & travel page - WENXI */
body {
    background-color: #F9F6F0;
}

#no-scroll {
    overflow: hidden;
}

/* font setting */
.font {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 3;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* "The ultimate Guide to LA" */
.cover-text {
    font-size: 75px;
    position: absolute;
    top: 110px;
    left: 60px;
    color: white;
    line-height: 1;
}

/* .cover-text {
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: absolute;
    right: 120px;
    top: 40px;
    text-align: center;
} */

.large-initial {
    font-size: 110px;
    font-weight: 40%;
    color: white;
}

/* car photo */
.cover-photo {
    object-fit: cover;
    object-position: 0px -140px;
}


.menu-container {
    display: grid;
    grid-template-columns: auto 40%;
    width: 100vw;
    height: 100vh;
    background-color: #312202;
}


/* .nav-mainmenu {
    margin-top: 200px;
    margin-left: 40px;
    font-size: 45px;
    color: black;
} */

.hidden {
    display: none;
}

.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    font-size: 18px;
    text-decoration: none; /* Remove underline from links */
    color: #ffffff; /* Set text color */
    background-color:#5F8009; /* Optional: background color */
    border: none; /* Optional: no border */
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.menu-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.nav-mainmenu {
    margin-top: 100px;
    margin-left: 40px;
    font-size: 45px;
    color: black;
    text-align: center;
}

.nav-mainmenu li a {
    text-decoration: none;
    color: white;
}

.nav-mainmenu li a:hover {
    text-decoration: underline;
    color: #EDF7B5;
}

.nav-intro {
    margin-top: 80px;
    margin-right: 30px;
    font-size: 18px;
    font-style: italic;
    color: white;
    line-height: 25px;
}


/* travel page skip to main button */
.travel-skip {
    position: fixed;
    top: 10px;
    right: 16px;
    background-color: #fff;
    order: 1px solid #000;
    padding: 8px 15px;
    z-index: 999;
    color: #000;
    text-decoration: none;
    opacity: 0;
}
.travel-skip:focus {
    opacity: 1;
}

/* travel page header "Travel" */
.travel-header {
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* .travel-header-pic {
    justify-items: center;
    height: auto;
    margin-bottom: 100px;
} */

.travel-intro {
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 100px;
    text-align: center;
}

.travel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.location-grid {
    line-height: 25px;
    margin-bottom: 150px;
}

.location-name {
    font-size: 22px;
    margin-bottom: 10px;
}

.location-link {
    text-decoration: none;
    color: black;
}

.location-link:hover {
    text-decoration: underline;
    color: #6D8C18;
}

.location-info {
    font-size: 14px;
    line-height: 20px;
    color: #312202;
}

.location-photos {
    object-fit: cover;
    width:  450px;
    height: 600px;
    margin-bottom: 10px;
}

.location-photos img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area, cropping as needed */
}


.travel-footer {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #312202;
    height: 300px;
    color: #EDF7B5;
}
/* .travel-footer p {
    padding: 20px;
} */

.travel-footer img {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 150px;
}






/* restaurant page - SHERRIE */

/* food page skip to main content */
.food_skip {
    position: fixed;
    top: 10px;
    right: 16px;
    background-color: #fff;
    order: 1px solid #000;
    padding: 8px 15px;
    z-index: 999;
    color: #000;
    text-decoration: none;
    opacity: 0;
}
.food_skip:focus {
    opacity: 1;
}

.food_header {
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.food_intro {
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 100px;
    text-align: center;
}



.restaurant_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    justify-items: center;
    padding: 0px 20px;
}



.food_grid {
    line-height: 25px;
    margin-bottom: 150px;
}


.food_name {
    display: flex;
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
}

.food_info {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: #312202;
    justify-content: center;
}




.food_photo {
    object-fit: cover; 
    width:  450px; 
    height: 600px;
    margin-bottom: 10px;
}

.food_photo img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    cursor: pointer;
    object-fit: cover; /* Ensures the image covers the area, cropping as needed */
}

.food_photo img:hover{
    border: 3px solid #fad793;
    transform: scale(0.97);
    transition: 0.3s;
    z-index: 102;
}




.food_footer {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #312202;
    height: 300px;
    color: #EDF7B5;
}

.food_footer img {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 150px;
}


/* photography page */


.photography_skip {
    position: fixed;
    top: 10px;
    right: 16px;
    background-color: #fff;
    order: 1px solid #000;
    padding: 8px 15px;
    z-index: 999;
    color: #000;
    text-decoration: none;
    opacity: 0;
}
.photography_skip:focus {
    opacity: 1;
}

.photography_header {
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    align-items: flex-start;
  }

  .column {
    flex: 30%;
    max-width: 40%;
    padding: 20px 4px;
  }
  
  .column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    
  }
  .column figure {
    position: relative;
    width: 100%;
    max-width: 120%;
    cursor:pointer;
  }
  .image {
    display: block;
    width: 100%;
  }

.photography_word {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-justify:start;    /*learn how to move it to bottom left*/
    text-align:start;
  }

figure:hover .photography_word {
    opacity: 1;
  }


#photographyFullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
  }

.photography_footer {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #312202;
    height: 300px;
    color: #EDF7B5;
}

.photography_footer img {
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    height: 150px;
}
